.social_icons {
	overflow: hidden;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	margin: 0px;
	z-index: 10;
}
.social_icons > li {
	float: left;
	cursor: pointer;
	width: 35px;
	height: 34px;
	overflow: hidden;
    display: inline-block;
	margin-left: 2px;
	margin-right: 0;
}
.social_icons > li a {
	width: 35px;
	height: 34px;
	overflow: hidden;
}
.social_icons > li a img {
	position: relative;
	top: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.social_icons > li a:hover img {
	position: relative;
	top: -34px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}